    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Technical inspection center Ada is place where you have everything for your car. Technical inspection, mechanical services and car dealership are our jobs. The technical staff is trained and certified by European association for technical inspection. Designed and built to high EATI standards, our showroom creates a pleasant and cozy ambience in which you will feel welcome.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Services</h6>
              <ul class="footer-links">
                <li><a >Technical inspection</a></li>
                <li><a >Mechanical service</a></li>
                <li><a >Car dealership</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Contact</h6>
              <ul class="footer-links">
                <li><i class="fa fa-phone-square"></i> + 387 61 111 123</li>
                <li><i class="fa fa-envelope"></i> inspection@ada.com</li>
                <li><i class="fa fa-clock-o"></i> Monday-Friday: 8:00-16:00</li>
                <li><i class="fa fa-search"></i> Zmaja od Bosne bb</li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
           <a href="#">Simple2Use </a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" ><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" ><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" ><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" ><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>
