<div class="card" style="margin: 30px;">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <mat-accordion>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
              {{shoe}}
            </mat-list-option>
          </mat-selection-list>
          
          <p >
            Options selected: {{shoes.selectedOptions.selected.length}}
            <button style="margin-left: 190px;" mat-raised-button color="primary">Finish</button> 
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      
    </div>
  </div>
