<div *ngIf="veh.length === 0" class="alert alert-primary" role="alert">
  Awesome, you done all tehnical reviews! You are free now!
</div> 
<div class="card" style="margin: 30px;" *ngFor="let vehicle of veh" >
    <h5 class="card-header">{{vehicle.vehicle}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{vehicle.type}}</h5>
      <p class="card-text">Owner: {{vehicle.owner}}</p>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Technical inspection check list panel
            </mat-panel-title>
            <mat-panel-description>
              Currently panel is {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-selection-list #things>
            <mat-list-option *ngFor="let thing of typesOfThings">
              {{thing}}
            </mat-list-option>
          </mat-selection-list>
          <p>
            Options selected: {{things.selectedOptions.selected.length}}
          </p>
            <div *ngIf="things.selectedOptions.selected.length === 17">
              <button style="margin-left: 190px;" mat-raised-button color="primary"  (click)="updateReview(vehicle.RevId)" >Finish</button> 
            </div>
        </mat-expansion-panel>  
      </mat-accordion>
      
    </div>
  </div>
