<div class="container"> 
    <form [formGroup]="formGroup" (submit)="login()" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  
      <mat-form-field floatLabel="never" class="form-element">
        <input type="text" matInput placeholder="Username" formControlName="username" [(ngModel)]="credentials.user_name">
        <mat-error *ngIf="formGroup.controls['username'].invalid">
          {{getError('user')}}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field floatLabel="never" class="form-element">
        <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="credentials.password">
        <mat-error *ngIf="!formGroup.controls['password'].valid">
          {{getError('pass')}}
        </mat-error>
      </mat-form-field>
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
  
    </form>
  </div>