<div class="contact-info">
  <div class="card">
    <i class="card-icon">Email</i>
    <p>email@domain.com</p>
  </div>

  <div class="card">
    <i class="card-icon">Phone</i>
    <p>+000000000000</p>
  </div>

  <div class="card">
    <i class="card-icon">Location</i>
    <p>New York, USA</p>
  </div>
</div>

<div style="padding: 30px;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2876.959419124109!2d18.396180415000956!3d43.85666977911487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c923eeaa57a3%3A0x5cbfa583cac7da02!2sFaculty%20of%20Electrical%20Engineering!5e0!3m2!1sen!2sba!4v1589804191264!5m2!1sen!2sba" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>