<div class="container" *ngIf="!post; else forminfo"  novalidate>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form jumbotron mt-5">

    <mat-form-field class="form-element">
      <input matInput placeholder="Owner" formControlName="owner">
      <mat-error *ngIf="!owner.valid && owner.touched"> {{ titleAlert }} </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Vehicle name" formControlName="Vname">
      <mat-error *ngIf="!Vname.valid && Vname.touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Type of vehicle</mat-label>
      <mat-select matInput  formControlName="type" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let animal of animals" [value]="animal">
          {{animal}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf=" (!type.valid && type.touched)">Please choose type of vehicle</mat-error>
      
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Serial number" formControlName="number">
      <mat-error *ngIf="!number.valid && number.touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date1">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker startView="year" #picker></mat-datepicker>
      <mat-error *ngIf="!date1.valid && date1.touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="form-element">
      <mat-label>Last technical rewiev</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="date2">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
      <mat-error *ngIf="!date2.valid && date2.touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit
        Form</button>
    </div>

  </form>
</div>

<ng-template #forminfo>
  <div class="container">
    {{ post | json }}
  </div>
</ng-template>
