<ul class="nav nav-tabs"  style="margin-top: 20px;">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/manager/vehicles']">Vehicles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/manager/newVehicle']">New vehicle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/manager/inProgess']">In progress rewievs</a>
    </li>
  </ul>
  <div class="container">
  <router-outlet></router-outlet>
</div>
