<div class="container" style="width: 70%;">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center">PROFILE</h1>
    </div>
    <table class="table col-md-6 mx-auto">
      <tr>
        <td>Fist Name:</td>
        <td>{{ details?.first_name }}</td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>{{ details?.last_name }}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{ details?.mail }}</td>
      </tr>
    </table>
  </div>
</div>
<ul class="nav nav-tabs"  style="margin-top: 20px;">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/manager/vehicles']">Vehicles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/manager/newVehicle']">New vehicle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/manager/inProgess']">In progress reviews</a>
    </li>
  </ul>
  <div class="container">
  <router-outlet></router-outlet>
</div>
