*{
    margin-bottom: 10px;
}
.carousel-control-prev {
    margin-left: 10%;
}
.carousel-control-next {
    margin-right: 10%;
}
.carousel-inner {
    margin-top: 3%;
}

.carousel-caption {
    background-color: gray;
    opacity: 0.9;
    height: 70px;
    border-radius: 10px 10px;
}